* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#home {
    position: relative;
    height: 100vh;
    background: url('https://www.cyberworx.in/images/services/website-startups.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 7.4vh;
    /* background: transparent !important; */
    /* background-color: chartreuse; */
}

.navbar-brand {
    margin-left: 5em;
    font-weight: bold;
}

.collapse {}

.navbar-nav {
    margin-right: 4em !important;
}

.nav-item {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    margin-right: 1em;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.home-container {
    position: absolute;
    top: 7.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.6vh;
}

.home-self {
    padding: 5em;
    text-align: left;
    color: white;
}

.home-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn{
    
    border: 1px solid white;
    color: white !important;
}

#about{
    height: 103vh;
    background:linear-gradient(rgba(0,0,0,0.5),#75BCEA )
}
.about-head{

}
.about-container{
    height: 92.8vh;
    position: relative;
    top: 7.4vh;
    padding-top: 0.5em;
}
.about-head{
    margin-top: 1em !important;
}
.about-self-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-self{
    margin-top: .5em;
    padding: 2em;
    width: 60%;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
}
.about-achive-cont{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.about-achive-card{
    height: 8em;
    background: transparent;
    border: 1px solid white;
    text-align: center;
    padding: 1em;
    color: black;
    margin: auto;
}

.fab{
    font-size: 28px;
}

#skill{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),#D5DBDB);
}
.skill-continer{
    height: 92.8vh;
    position: relative;
    top: 7.4vh;
    padding-top: 0.5em;
}

#contact{
    height: 100vh;
    background: linear-gradient(rgba(0.0.0.0.5),#D5DBDB );
}
.contact-cont{
    height: 92.8vh;
    position: relative;
    top: 7.4vh;
    padding-top: 0.5em;
}

.contact-card{
    height: 10em;
    text-align: center;
    padding: 1em;
    font-size: 20px;
    text-transform: uppercase;
}
.fas,.fab{
    margin-right: auto;
    margin-top: 1em;
    font-size: 20px;
}
.contact-card-p{
    text-align: left   ;
}
.form-control{
    height: 4em !important;
}
.contact-btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form-btn{
    width: 50%;
}
    
.contact-google-map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px; 
    height: 400px;
}
.contact-googlemap-frame{
    width: 600px; 
    height: 400px;
}